.today {
    display: flex;
    flex-direction: column;
}
.today-head {
    font-size: 30px;
    font-weight: 600;
}
.today-date {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
}
.today-date span {
    color: #7b7b7b;
}
.tasks {
    width: 80%;
    padding: 15px;
}
.tasks-not-found {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: #5670ff;
}
.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    margin-bottom: 10px;
}
.task-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.task-check {
    width: 20px;
    height: 20px;
}
.task-name {
    color: #474747;
    font-weight: 600;
    cursor: pointer;
}
.task-name:hover{
    text-decoration: underline;
}
.task-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.task-option {
    cursor: pointer;
}
@media screen and (max-width:400px) {
    .tasks{
        width: 90%;
        padding: 15px 0px;
    }
    .task {
        gap: 5px;
        padding: 10px 5px;
    }
}